{
	"presets": ["es2015"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
		"array-includes"
	],
	"env": {
		"production": {
			"plugins": [
				["transform-runtime", {"polyfill": true, "regenerator": false}]
			]
		}
	}
}
