{
	"presets": ["@babel/env"],
	"plugins": [
		"transform-class-properties",
		["@babel/plugin-proposal-decorators", {"legacy": true}]
	],
	"env": {
		"production": {
			"plugins": [
				["@babel/plugin-transform-runtime", {"polyfill": true, "regenerator": false}],
				"array-includes"
			]
		}
	}
}
